---
import BaseHead from "../components/BaseHead.astro";
import RightSidebar from "../components/RightSidebar/RightSidebar.astro";
import BaseLayout from "./BaseLayout.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
    gitHubLink?: string;
    tags?: string [];
  };
}

const { headings, ...data } = Astro.props;

const {
  content: { title, description, pubDate, updatedDate, heroImage, tags, gitHubLink }
} = Astro.props;
---

<BaseLayout title={title} description={description} image={heroImage}>
  <div class="text-sm breadcrumbs">
    <ul>
      <li><a href="/">Home</a></li> 
      <li><a href="/project-files/1">Projects</a></li> 
      <li>{title}</li>
    </ul>
  </div>
  <main class="md:flex md:justify-center">
    <article class="prose prose-lg max-w-[900px] prose-img:mx-auto">
      {heroImage && <img src={heroImage} alt={title} class="w-full mb-6" />}
      <div class="flex justify-center space-x-4" style="align-items: center;">
        <h1 class="title my-2 text-4xl font-bold" style="flex-grow:1">{title}</h1>
        <a class="projects_link" href={gitHubLink}>View on Github ~~&gt;</a>
      </div>
      <div>
      {pubDate && <time>{pubDate}</time>}
      {
        updatedDate && (
          <div>
            {" "}
            Last updated on <time>{updatedDate}</time>{" "}
          </div>
        )
      }
      <div class="float-right space-x-1">
        {tags && tags.map((tag) => <div class="badge badge-outline">{tag}</div>)}
      </div>
      </div>
      <div class="divider my-2"></div>
        <slot />
    </article>
    <aside id="grid-right" class="grid-sidebar" title="Table of Contents">
      <RightSidebar headings={headings} githubEditUrl={gitHubLink} />
    </aside>
  </main>
</BaseLayout>
